<footer class="footer">
    <div class="container">
        <p>Built with <a href="https://astra.datastax.com/" target="_blank">AstraDB</a> |
           <a href="/docs" target="_blank">API Docs</a> |
           <a href="https://github.com/pravinbhat/astra-search-demo" target="_blank">GitHub</a> |
           <a href="https://github.com/pravinbhat" target="_blank">
               Built by<img src="/static/favicon.ico" alt="" style="width: 32px; height: 32px; vertical-align: middle; margin-left: 4px;">
           </a>
           <a href="https://bob.ibm.com/" target="_blank">
               with <img src="/static/bob.png" alt="IBM Bob" style="width: 24px; height: 24px; vertical-align: middle; margin-left: 4px;">
           </a>
        </p>
    </div>
</footer>